<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" [routerLink]="['home']" >Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLinkActive="active" role="button" data-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let categoria of categorias" >
                <a class="dropdown-item point" (click)="busCat(categoria.nombre ,categoria.id)"> {{ categoria.nombre }} <small> ({{ categoria.tipo }}) </small> </a>
              </li>
            </ul>
          </li>
          <form class="d-flex">
            <input #searchText class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
            <button (click)="buscar(searchText.value)" class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </ul>
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item d-flex">
            <a routerLinkActive="active" [routerLink]="['carrito']" class="nav-link " aria-current="page" href="#">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
              </svg>
              Carrito
            </a>
          </li>
          <li class="nav-item d-flex">
            <a routerLinkActive="active" class="nav-link " aria-current="page" [routerLink]="['perfil']">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
              Perfil
            </a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>